.hero{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
}
.hero>img{
    width: 100vw;
}
.quote{
    background-color: var(--DarkViolet);
    padding: 3rem 10px;
    box-sizing: border-box;
    color: var(--VeryLightGray);
    text-align: center;
    background-image:   url('../../assets/images/bg-pattern-intro-left-mobile.svg') , 
                        url('../../assets/images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left,right;
    background-position-y: top, bottom;
    
}
.quote>h1{
    margin-top: 0;
    font-family: 'DM Serif Display', serif;

    font-weight: 400;
    font-size: 3.2rem;
}
.quote>p{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--VeryLightGray); 
    line-height: 2rem;
}

@media only screen and (min-width: 800px) {
    .hero{
        flex-direction: row;
        flex-flow: row-reverse;
        
    }
    .hero>img{
        width: 50vw !important;
        object-fit: cover;
    }
    
    
}
@media only screen and (min-width: 1024px){
    .hero{
        position: relative;
        margin-bottom: 10rem;
    }
    .hero>img{
        position: absolute;
        left: 50%;
        top:20%;
        width: 35vw !important;
    }
    .quote{
        width: 100vw;
        height: 80vh;
        text-align: left;
        padding: 3rem;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 10rem 1fr;
        grid-template-areas: 
            ". ."
            "title ."
            "intro ."
            "btn ."
        ;
    }
    .quote p,.quote h2, .quote button{
        max-width: 50vw !important;
        margin: 0 !important;  
    }
    .quote>h2{
        grid-area: title;
        
    }
    .quote>p{
        grid-area: intro;
        padding: 1rem 2rem 0 0;
    }
    .quote>button{
        grid-area: btn;
        justify-self: flex-start;
        align-self: center;
    }
    
}

