/*Estilos del nav en general (logo boton de hamburguesa y lista de links)*/
nav{
    max-width: 100vw;
    width: 100vw;
    transition: all;
    transition-duration: .3s;
    background-color: var(--VeryLightGray);
    position: fixed;
    display: flex;
    flex-wrap:wrap;
    z-index: 100;
}

.logo{
    width: 80vw;
    box-sizing: border-box;
    grid-area: logo;
    justify-self: center;
    padding: .5rem;
    justify-self: flex-start;
    align-self: center;
}
.btnMenu{
    width: 20vw;
    box-sizing: border-box;
    grid-area: btnMenu;
    background-color: transparent;
    border:none;
    justify-self: flex-end;
    
}
.list{
    width: 100vw;
    height:0;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin:0;
    align-items: center;
    grid-area: list;
    padding: 0;
    font-size: 1.2rem;
    background-image: url('../../assets/images/bg-pattern-mobile-nav.svg');
    background-color: var(--VeryDarkViolet);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.list>li{
    margin: 1.5rem;
}
.list>li>a{
    text-decoration: none;
    color:var(--VeryLightGray);
    text-transform: uppercase;
    
}
.list>li>a>.enfasis{
    border: 2px solid var(--VeryLightGray);
    padding: 1rem 5rem;
}

.initial{
    height: 0;
}
/*estilos de animaciones para el despliegue y ocultamiento del menu*/
.displayList{
    
    animation-name: displayingMenu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier();
}
.hideList{
    height: 40rem;
    animation-name: hidingMenu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier();
}
@keyframes displayingMenu {
    from{
       height: 0;
    }
    to{
        height: 40rem;
    }
}
@keyframes hidingMenu {
    from{
        height: 40rem;
    }
    to{
        height: 0;
    }
}