.reason{
    width:95vw;
    max-width: 320px;
    box-sizing: border-box;
    padding: .5rem;
    text-align: center;
    margin: 1rem auto;
}
.reason>h3{
    font-size: 1.8rem;
    font-family: 'DM Serif Display', serif;
    text-transform: capitalize;
}
.reason>p{
    color: var(--DarkGrayishViolet)
}
@media only screen and (min-width:1200px){
    .reason{
        text-align: left;
    }
}
@media only screen and (min-width:1600px){
    .reason{
        max-width: 400px;
    }
    .reason>h2{
        font-size: 3rem !important;
    }
    .reason>p{
        font-size: 1.5rem !important;
    }
}
