.btnAction{
    background-color: transparent;
    color:var(--VeryLightGray);
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border: 2px solid var(--VeryLightGray);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all;
    transition-timing-function: cubic-bezier();
    transition-duration: .3s;
}
.btnAction:hover{
    color:var(--DarkViolet);
    background-color: var(--VeryLightGray);
    
}